@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 针对Chrome、Safari和Opera隐藏滚动条 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 针对IE和Edge隐藏滚动条 */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}